[Unit]
Description=Udobnysklad Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Kladovki
Environment="PATH=/root/Kladovki/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/root/Kladovki/venv/bin/python3 /root/Kladovki/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

